*{
	padding: 0;
	margin: 0;
}
body{
	color:#FFFFFF;
}

a{
	text-decoration: none;
	color:#FFFFFF;
}
.head_bar{
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 94px;
	.head_con{
		height: 63px;
    	padding: 31px 5% 0;
    	.head_logo{
    		width: 128px;
		    height: 61px;
		    display: block;
		    float: left;
    		background: url(../images/2.png) no-repeat;
    	}
    	.logo_text{
    		width: 129px;
    		height: 17px;
		    display: block;
		    float: left;
    		background: url(../images/2.png) no-repeat;
    		background-position: 0 -440px;
    		margin: 20px 20px ;
    	}
    	ul{
    		float: right;
    		font-family: "microsoft yahei";
    		font-size: 15px;
    		li{
	    		display: inline-block;	
	    		margin: 20px 5px;
	    		a:hover{
	    			color: #FC5B5B;
	    		}
    		}
    	}
   	}
}

.head_banner{
	position: relative;
	width: 100%; 
	height: 590px;
	.back-img{ 
		li{
			width: 100%;
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			&:first-child{
				display: block;
			}
			img {
				width: 100%;
			}
		}
	}
	.pics_pre,
	.pics_next{
		width: 50px;
		height: 100px;
		position: absolute;
		top: 40%;
		background-image: url(../images/3.png);
		cursor: pointer;
	}
	.pics_pre{
		left: 20px;
	}
	.pics_next{
		background-position: 0 -115px;
		right: 20px;
	}
	.bg_cl{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 200px;
		background: linear-gradient(#666666,rgba(0, 0, 0, 0));
	}
	.search_index{
		position: absolute;
		top: 80%;
		left: 0;
		width: 100%;
		height: 80px;
		.search_con{
			width: 940px;
			height: 60px;
			margin: 0 auto;
			margin-top: 10px;
		}

		.search_nation{
			background-color: #2c3e50;
			width: 196px;
			height: 40px;
			padding: 8px 0 12px 0;
			line-height: 40px;
			display: inline-block;
			float: left;
			span{
				display: inline-block;
			}
			.icon_inland{
			    width: 36px;
				height: 40px;
				background: url(../images/3.png) no-repeat;
				background-position: 12px -714px; 
				margin-left: 10px;	
			}
			.nation_name{
				vertical-align: top;
				height: 36px;
				font-size: 18px;
				cursor: pointer;
			}
			.n_cur{
				    opacity: 1;
				    border-bottom: 2px solid #fff;
				    font-weight: bold;
			}
			.icon_oversea{
				width: 36px;
    			height: 40px;
    			background: url(../images/3.png) no-repeat;
				background-position: 12px -746px;
			}	
		}

		.search_button{
			height: 60px;
			width: 224px;
			background-color: #2c3e50;
			float: left;
			font-size: 20px;
			border-width: 0;
			letter-spacing: 3px;
			color: #FFFFFF;
		}

		.search_loaction{
			float: left;
			height: 60px;
			width: 250px;
			background: #FFF;
			.icon_location{
				background: url(../images/3.png) no-repeat;
				background-position: 20px -217px;
			    width: 55px;
			    height: 60px;
			    display: inline-block;   
			}
			.location_text{
				width: 174px;
				height: 30px;
				margin: 15px 10px 15px 0;
				border-width: 0;
				vertical-align: top;
				display: inline-block;
				line-height: 30px;
				border: none;
				font-size: 18px;
				color: #2c3e50;
				outline: none;
			}
		}
		.search_date{
			float: left;
			height: 60px;
			width: 250px;
			background: #FFF;
			.icon_date{
				background: url(../images/3.png) no-repeat;
				background-position: 20px -264px;
				width: 55px;
			    height: 60px;
			    display: inline-block;   
			}
			.date_text{
				width: 174px;
				height: 30px;
				margin: 15px 10px 15px 0;
				border-width: 0;
				vertical-align: top;
				display: inline-block;
				line-height: 30px;
				border: none;
				font-size: 18px;
				color: #2c3e50;
				outline: none;
			}
		}
	}
}

.index_ad1{
	a{
		img{
			display: block;
			margin: 0 auto;
		}
	}
}

.index_T{
    text-align: center;
    font-family: "microsoft yahei";
    padding: 15px 0;
    color: #000000;
    margin-bottom: 20px;
    h1{
    	font-size: 44px;
	    font-weight: normal;
	    line-height: 44px;
	    margin: 0;
	    padding: 15px 0 15px;
    }
    span {
	    display: block;
	    font-size: 18px;
	    color: #959ea7;
	}
}

.info_content{
	width: 100%;
	height: 219px;
	background-color: #FFFFFF;
	.info_pos{
		display: block;
		margin: 0 auto;
		height: 217px;
		width: 1240px;
	}
	li{
	    display: inline-block;   
	    float: left;
	    position: relative;
	}
	.content li:first-child{
		margin-left: 50px;
	}
	.cont_1,.cont_2,.cont_3,.cont_4{
		display: inline-block;
		width: 188px;
	    height: 152px;
	    padding: 30px 60px;
	    background: url(../images/5.png) no-repeat;
	    background-origin:content-box;
	    background-clip :content-box;
	}
	.cont_2{
		background-position: 0 -162px;
	}
	.cont_3{
		background-position: 0 -324px;
	}
	.cont_4{
		background-position: 0 -486px;
	}
	a{
		width: 309px;
	    height: 217px;
	    display: inline-block; 
	    position: absolute;
	    left: 0;
	    top: 0; 
	}
	a:hover{
		box-shadow: 0 0 5px #cccccc;
	}
}
@media only screen and (max-width: 960px){
	.head_bar,.head_banner,.index_ad1,.back-img,.back-img img,.search_index,.info_pos,.footer{
		width: 960px !important;

	}
}
@media only screen and (max-width: 1240px){
	.info_content .info_pos{
		width: 960px ;
	}
	.info_content .info_pos .cont_1,
	.info_content .info_pos .cont_2,
	.info_content .info_pos .cont_3,
	.info_content .info_pos .cont_4{
		padding: 30px 25px ;
	}
	.info_content a{
		width: 238px ;
	    height: 197px ;
	}
}
.content_v2{
	ul{
		width: 1260px;
		height: 1354px;
		margin: 0 auto;
	}
	li{	
		height: 320px;
		vertical-align: top;
		list-style: none;
		float: left;
		margin: 0 20px 20px 0;
		display: inline-block;
		position: relative;
	}
	.img_room,.smallBg{
		width: 400px;
	    height: 320px;
	}
	.big_city,.bigBg{
		width: 820px;
	}

	.smallBg{
	    background-color: #000000;
	    position: absolute;
	    left: 0;
	    top: 0;
	    opacity:0.5;
	    color: #FFFFFF;
	}
	.v2_a{
		opacity: 0;
		transition: all 1s;
		&:hover{
			opacity: 1;
		}
	}
	.contBg{
		position: absolute;
	    left: 0;
	    top: 0;
		font-size: 20px;
		color: #FFFFFF;
		width: 300px;
		height: 220px;
		padding: 50px 50px;
	}
	.contBg span{
		display: block;
		margin: 16px auto;
		text-align: center;
	}
	.bigCont{
		width: 400px;
    	padding: 50px 210px;
	}
}
@media only screen and (max-width: 1240px){
	.content_v2 ul{
		width: 960px;
		height: 1050px;
	}
	.content_v2 li{
	    height: 248px;
		margin: 0 14px 14px 0;
	}
	.content_v2 .img_room,
	.content_v2 .smallBg{
		width: 304px;
	    height: 248px;
	    
	}
	.content_v2 .contBg{
		font-size: 16px;
		width: 202px;
		height: 100px;
		padding: 74px 50px;
	}
	.content_v2 .bigCont{
		padding: 74px 210px;
	}
	.content_v2 .big_city,
	.content_v2 .bigBg{
		width: 622px;
	}
	
}
.comment{
	width: 100%;
	height: 606px;
	color: #FFFFFF;
	background: url(../images/5.jpg) no-repeat;
	background-size: 100%;
	.index_T h1,.index_T span{
		color: #FFFFFF;
	}
	.comment_column{
		float: left;
		width: 50%;
		height: 42	0px;

	}
	.cmt_con{
		width: 448px;
		height: 436px;
	    line-height: 24px;
	    text-align: center;
	    span{
			display: block;
			font-size: 14px;
		}
		img{
			width: 90px;
		    height: 90px;
		    border: solid 3px #fff;
		    -webkit-border-radius: 48px;
		    -moz-border-radius: 48px;
		    border-radius: 48px;
		    margin-bottom: 10px;
		    margin-top: 20px;
		}
		.comment_user{
			font-size: 24px;
		}
		.comment_W{
			text-align: left;
			font-size: 14px;
			line-height: 24px;
			margin-top: 10px;
			height: 190px;
		}
		.cmt_ul{
			position: relative;
			bottom: 0px;
			right: 0px;
			li{
				list-style: none;
				display: inline-block;
				height: 6px;
				width: 40px;
				background-color: #FFFFFF;
				margin-right: 10px;
				cursor: pointer;
			}
			.cmt_current{
				background-color: #6C6C6C;
			}
		}
	}
	.cmt_L{
		float: right;
		padding-right: 80px;
	}
	.cmt_R{
		padding-left: 80px;
	}
}

@media only screen and (max-width: 1056px){
	.comment .cmt_R {
	    padding-left: 10px;
	}
	.comment .cmt_L {
	    padding-right: 10px;
	}
}
@media only screen and (max-width: 960px){
	.comment{
		width: 960px;
	}
}
.footer{
	height: 200px;
	width: 100%;
	background-color:#000000;
	opacity: 0.8;
	margin-top: 20px;
	a , span{
		display: block;
	}
	a{
	text-decoration: none;
		color: #FFFFFF;
	}
	ul{
		width: 955px;
		height: 117px;
		display: block;
		margin: 0 auto;
		padding-top: 20px;
		li{
			float: left;
			width: 57px;
			height: 75px;
			list-style: none;
			margin-right: 32px;
			font-size: 14px;
			color: #FFFFFF;
			line-height: 24px;
		}
	}
	.guide{
		background: url(../images/icon_head.png) no-repeat;
		padding-top: 50px;
		background-position: 8px -258px;
	}
	.icon_fk{
		background-position: -44px -258px;
	}
	.width_280{
		width: 282px!important;
	}
	.width_280 a{
		display: inline;
		margin-right: 3px;
	}
	.width_100{
		width: 100px!important;
	}
	.foot_btm{
		width: 955px;
		height: 26px;
		margin:0 auto;
		color: #FFFFFF;
		font-size: 14px;
		text-align: center;
		a{
			display: inline;
		}
	}
}

